@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <img src="~/images/meme.jpg"
    alt="Meme favorito"
    style="width: 100px; height: 100px" />

    <button class="btn btn-info mt-3"
    onclick="mostrarAlerta()"
            Hola esto es un <b>botón</b>
<br>
    </button>
</div>

<script>
    function mostrarAlerta() {
        alert("Mi nombre es javier y mi hobbie son los videojuegos")
    }
</script>

